<ion-view view-title="Bourses d'études">
<ion-content class="padding">
<ul class="list">
	 <li class="item">
		 <a href="http://esto.ump.ma/images/bourses-d-etudes/bourses_andounesie.PDF">Bourses Andounésie</a>
	 </li>
	 <li class="item">
		<a href="http://esto.ump.ma/images/bourses-d-etudes/Hongrie1.pdf">Bourses d’études en Hongrie au titre de l’année universitaire 2016-2017. - Programme Stipendium Hungaricum</a>
	 </li>
	 <li class="item">
		<a href="Annex1_Call_for_Applications_2016_2017.pdf">Annex1_Call_for_Applications_2016_2017.pdf</a>
	 </li>
	 <li class="item">
		<a href="http://esto.ump.ma/images/bourses-d-etudes/Annex2_SH_leporello.pdf">Annex2_SH_leporello.pdf</a>
	 </li>
</ul>
</ion-content>
</ion-view>

