<ion-view view-title="Certification">
<ion-content class="padding">
<div class="card">
  <div class="item item-text-wrap">
    <h2 class="energized"><b>Certification</b></h2><br>
    L’ESTO est reconnue comme centre de certification NC3 (USA), elle est autorisé à former et délivrer les certificats suivants :<br><br>

	<b>Diagnostic de voitures</b><br>

	<b> - </b>Snap-On Certification Solus Pro<br>

	<b> - </b>Snap-On Certification Solus Ultra <br>

	<b>Energie </b><br>

	<b> - </b>Snap-On Certification Torque <br>

	<b> - </b>Snap-On Certification Multimeter <br>
	<b>Avec MicroSoft</b><br>

	<b> - </b>Certification MOS (Office)<br>

	<b> - </b>Certification MS-Project<br>

	<b> - </b>Certification SQL Server<br>

	<b>Avec CISCO en partenariat avec SUPMTI</b><br>

	<b> - </b>Certification CCNA<br><br>
  </div>
</div>
</ion-content>
</ion-view>
