<ion-view view-title="Commission Scientifique">
<ion-content class="padding">
	<h4 class="energized">Commission Scientifique</h4>
<table class="table">
 <thead>
	<tr>
		<th><center>--------</center></th>
	</tr>
 </thead>
 <tbody>
	<tr>
		<td><center>M. ZARHLOULE Yassine (Directeur ESTO)</center></td>
	</tr>
	<tr>
	  <td><center>M. HAJBI Rachid (Directeur Adjoint)</center></td>
	</tr>
	<tr>
		<td><center>M. AZIZI Mohammed </center></td>
	</tr>
	<tr>
		<td><center>M. AZIZI Mostafa</center></td>
	</tr>
	<tr>
		<td><center>M. BENAZZI Abdelhamid</center></td>
	</tr>
	<tr>
		<td><center>M. BARBOUCHA Mohammed</center></td>
	</tr>
	<tr>
		<td><center>M. BEN ABBOU Mostafa</center></td>
	</tr>
	<tr>
		<td><center>M. ZOUGAR Ismail</center></td>
	</tr>
 </tbody>
</table>
</ion-content>
</ion-view>

