<ion-view view-title="Activités du Bureau des Etudiants">
<ion-content class="padding">
	<h4 class="energized">Conseil de l'école</h4>
<table class="table">
 <thead>
	<tr>
		<th><center>--------</center></th>
	</tr>
 </thead>
 <tbody>
	<tr>
		<td><center>ZOUGGAR Smail</center></td>
	</tr>
	<tr>
	  <td><center>Naïma BENAZZI</center></td>
	</tr>
	<tr>
		<td><center>Naïma BENAZZI </center></td>
	</tr>
	<tr>
		<td><center>Mohammed El Arabi El Hafyani</center></td>
	</tr>
	<tr>
		<td><center>Abdelmalek MEHDI</center></td>
	</tr>
	<tr>
		<td><center> KADDA Ftima Zahra</center></td>
	</tr>
	<tr>
		<td><center>OUKILI Mohamme</center></td>
	</tr>
	<tr>
		<td><center>Pr. Badre Bossoufi</center></td>
	</tr>
 </tbody>
</table>
</ion-content>
</ion-view>
