<ion-view view-title="Activités du Bureau des Etudiants">
<ion-content class="padding">
<ul class="list">
	 <li class="item">
		 <a href="http://esto.ump.ma/images/bureau_etud/Avis_Inscription_activites_artistiques1.pdf">Avis d'inscription aux Activités artistiques</a>
	 </li>
	 <li class="item">
		<a href="http://esto.ump.ma/images/bureau_etud/formulaire_inscription1.pdf">Formulaire d'inscription aux activités artistiques</a>
	 </li>
	 <li class="item">
		<a href="http://esto.ump.ma/images/bureau_etud/form1.pdf">Tableau récapitulatif</a>
	 </li>
</ul>
</ion-content>
</ion-view>
