<ion-view view-title="Filières">
<ion-content class="padding">
<div class="list list-inset">
<div class="item item-divider balanced">
    DÉPARTEMENT MANAGEMENT
</div>
      <div class="item">DUT : Finance Comptabilité Fiscalité</div>
      <div class="item">DUT : Gestion Logistique et Transport</div>
      <div class="item">DUT : Informatique et Gestion des Entreprises</div>
      <div class="item">DUT : Gestion Banques et Assurances</div>
      <div class="item">Licence Professionnelle en Informatique et Gestion d'Entreprises</div>
</div>
<div class="item item-divider positive">
    DÉPARTEMENT GÉNIE APPLIQUÉ
</div>
      <div class="item">DUT : Electronique et Informatique Industrielle</div>
      <div class="item">DUT : Génie Électrique et Energies Renouvelables</div>
      <div class="item">DUT : Mécatronique
</div>
      <div class="item">DUT : Génie Civil</div>
<div class="item item-divider energized">
    DÉPARTEMENT MANAGEMENT
</div>
      <div class="item">DUT : Administrateur de Systèmes et Réseaux</div>
      <div class="item">DUT : Développeur d'applications informatiques</div>

</ion-content>
</ion-view>
