<ion-view view-title="Recherche Scientifique">
<ion-content class="padding">
<div class="card">
  <div class="item item-divider energized">
  Recherche Scientifique
  </div>
	<div class="item item-text-wrap">
		<b> - </b> <i class="positive">Production Scientifique</i><br>
		<b> - </b> <i class="positive">Labo LGEM</i><br><br>
		<b>Responsable </b>:  ZOUGGAR Smail<br>
		<b>Accréditation </b>: 2013-....		<br>
		<b>Historique </b> : <br> <hr>
		- Le laboratoire de Génie Electrique et Maintenance est crée en Mai 2006 dans le cadre de restructuration des laboratoires de l’université Mohamed 1er.<br>
		- Le laboratoire  LGEM est accrédité dans la même année pour répondre au besoin de la recherche dans le domaine de génie électrique et de la maintenance industrielle.<hr>
		<b>Équipes </b> :<br><br>
		<b> - </b> <i class="positive">Equipe Energies Renouvelables</i><br><br>
		<b>Responsable </b>:  ZOUGGAR Smail<br>
		<b>Accréditation </b>: 2013-....		<br>
		<b>Mail </b> : szouggar@gmail.com || zouggar@est.univ-oujda.ac.ma		<br>
		<b>Tél </b>: +212 536 50 02 24 || +212 536 50 02 23 		<br><br>
	  <table class="table">
		 <thead>
			<tr>
			  <th>Professeurs</th>
			  <th>Doctarants</th>
			</tr>
		 </thead>
		 <tbody>
			<tr>
				<td>ZOUGGAR Smail</td><td>OUACHANI Iliass</td>
			</tr>
			<tr>
			  <td>Naïma BENAZZI </td><td>ZAHBOUNE Hassan</td>
			</tr>
			<tr>
			  <td>Naïma BENAZZI </td><td>ELHAFAOUI Badreddine</td>
			</tr>
			<tr>
			  <td>Mohammed El Arabi El Hafyani</td><td>SEDIK Mohammed</td>
			</tr>
			<tr>
			  <td>Abdelmalek MEHDI</td><td>OUCHBEL Toufik</td>
			</tr>
			<tr>
			  <td> KADDA Ftima Zahra</td><td></td>
			</tr>
			<tr>
			  <td>OUKILI Mohamme</td><td></td>
			</tr>
			<tr>
			  <td>Pr. Badre Bossoufi</td><td></td>
			</tr>
		 </tbody>
	  </table>
		<b> - </b> <i class="positive">Electronique de puissance et commande industriel</i><br><br>
		<b>Responsable </b>:  AZIZI Mohammed<br>
	  <table class="table">
		 <thead>
			<tr>
			  <th>Professeurs</th>
			  <th>Doctarants</th>
			</tr>
		 </thead>
		 <tbody>
			<tr>
				<td>Mohamed AZIZI</td><td>KHALID Lagrari</td>
			</tr>
			<tr>
			  <td>Omar MOKHTARI</td><td>BENSLIMANE Anass</td>
			</tr>
			<tr>
			  <td>Jamal BOUCHNAIF</td><td></td>
			</tr>
		 </tbody>
	  </table>
		<b> - </b> <i class="positive">Electronique, signaux et communications</i><br><br>
		<b>Responsable </b>: AZIZ El Mamoun<br>
	  <table class="table">
		 <thead>
			<tr>
			  <th>Professeurs</th>
			  <th>Doctarants</th>
			</tr>
		 </thead>
		 <tbody>
			<tr>
				<td>AZIZ El Mamoun</td><td>TANOUTI Jawad</td>
			</tr>
			<tr>
			  <td>AZIZ Abdelhak</td><td>SETTI Mohammed</td>
			</tr>
			<tr>
			  <td>KASMI Kamal</td><td></td>
			</tr>
		 </tbody>
	  </table>
	  		<b> - </b> <i class="positive">Sûreté de Fonctionnement des Systémes Dynamiques</i><br><br>
		<b>Responsable </b>:  Abdelaziz MELHAOUI<br>
	  <table class="table">
		 <thead>
			<tr>
			  <th>Professeurs</th>
			  <th>Doctarants</th>
			</tr>
		 </thead>
		 <tbody>
			<tr>
				<td>Abdelaziz Melhaoui</td><td></td>
			</tr>
			<tr>
			  <td> Mohammed Barboucha</td><td></td>
			</tr>
		 </tbody>
	  </table>
	</div>
</div>
</ion-content>
</ion-view>
