<ion-view view-title="Représentant de l'Ecole au Conseil d'université">
<ion-content class="padding">
	<h4 class="energized">Représentant de l'Ecole au Conseil d'université</h4>
<table class="table">
 <thead>
	<tr>
		<th><center>--------</center></th>
	</tr>
 </thead>
 <tbody>
	<tr>
		<td><center>Pr. Benabbou Mostafa</center></td>
	</tr>
	<tr>
	  <td><center>Pr. Kaouachi Abdelali</center></td>
	</tr>
	<tr>
		<td><center>Pr. Filali Saida </center></td>
	</tr>
 </tbody>
</table>
</ion-content>
</ion-view>

