<ion-view view-title="Services">
<ion-content class="padding">
<div class="card">
  <div class="item item-divider energized">
  Service Resources Humaines
  </div>
  <div class="item item-text-wrap">
     Le service des ressources humaines a pour mission de mettre en oeuvre la politique de gestion des ressources humaines en accompagnant le parcours professionnel de chacun, au service de l'Ecole  et de ses membres, dans le respect des différents statuts.
     <!-- <center><hr color="energized"></center>-->
      <br>
	Sa mission s’articule en trois axes principaux :<br>
	<b> - </b> <i class="positive">le recrutement</i><br>
	<b> - </b> <i class="positive">le parcours professionnel</i><br>
	<b> - </b> <i class="positive">l’accompagnement des personnes et des équipes</i><br>

Le service des ressources humaines a également pourmission, en collaboration avec les interlocuteursconcernés, de contribuer à la qualité de l'environnement<br> de travail de tous les membres du personnel (relations sociales, relations interpersonnelles et conditions matérielles). 
  </div>
  <div class="item item-divider energized">
  LES MISSIONS
  </div>
    <div class="item item-text-wrap">
    L’ Intendance<br>

	exerce des responsabilités de nature administrative, économique, financière et comptable. Cette mission très générale se décline notamment avec les domaines suivants :<br>
	<b> - </b> <i class="positive">Gestion matérielle</i> : elle comprend l’entretien courant de l’Ecole, la sécurité des locaux, l’hébergement.<br>
	<b> - </b> <i class="positive">Gestion financière </i>: elle consiste à réaliser les dépenses et recettes nécessaires au fonctionnement de l’établissement, en conformité avec le budget préalablement établi et voté (par le conseil de l'Ecole)<br>
	<b> - </b> <i class="positive">Gestion comptable </i>: il s’agit en quelque sorte de tenir le rôle de « trésorier » ou encore de « caissier » de l’Ecole. Cette gestion implique la tenue des divers documents officiels de comptabilité.
  </div>
  <div class="item item-divider energized">
  Service Informatique
  </div>
      <div class="item item-text-wrap">
      Equipe : <br>
      <b> - </b> <i class="positive">Mr Mounir GRARI</i><br>
	  <b> - </b> <i class="positive">Mr Mohammed Amine KASMI </i><br>
	  Le service informatique est très impliqué dans la gestion du système d'information de l’ESTO. Il est constitué d’une équipe chargée d’intervenir dans le périmètre englobant toutes les activités informatiques d'intérêt général pour l’école. La gestion du parc informatique, sa maintenance matérielle et logicielle, l'administration des serveurs et la gestion du réseau constituent les versants essentiels de l'activité du service.
	  <br>
	  <h2>Assurer le fonctionnement de l'infrastructure réseau (câble, switch, architecture réseau ….).</h2>
	  Assurer le fonctionnement des serveurs
		<b> - </b>Messagerie<br>
		<b> - </b>Web<br>
		<b> - </b>FTP<br>
		<b> - </b>Passerelle Internet<br>
		<b> - </b>Proxy<br>
		<b> - </b>Serveur de fichier<br>
		<b> - </b>Contrôleur de Domaine<br>
		<b> - </b>….<br>
		Assurer la sécurité du réseau en appliquant les directives du chef du service et de la cellule Informatique.<br>
		Effectuer un audit interne de manière périodique, et rédiger des rapports de d'états pour faire des statistiques a long terme.
		Opérer l'agrandissement du réseau en cas de besoin.<br>
		Mettre en place des serveurs de base de données tel que MySql ou SQL Server (utiliser dans les TPS).<br>
		Aider dans le développement du laboratoire Réseau (faire des teste d'amélioration de la sécurité, d'amélioration des performances …).<br>
		Gérer l'administration du domaine des salles de TP (la gestion du serveur de fichier et du contrôleur de domaine l'installation des salles ne relève pas de la responsabilité de cette division).
  </div>
    <div class="item item-divider energized">
  Coopération et Com
  </div>
    <div class="item item-divider energized">
  Interface EST/Entreprises
  </div>
</div>
</ion-content>
</ion-view>
